################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCoreAuth/v16/Server/sqlite3
/DotNetCoreAuth/bin/Debug/netcoreapp3.1
/DotNetCoreAuth/obj
/.vs/DotNetCoreAuth
